In [1]:
import pandas as pd

In [2]:
# Syntax:  varname = pandas.DataFrame(object, index, column, dtype)

In [3]:
lst = [[10,20,30,40],["RS","DR","TR","MC"]]
lst

[[10, 20, 30, 40], ['RS', 'DR', 'TR', 'MC']]

In [5]:
df = pd.DataFrame(lst)
df

    0   1   2   3
0  10  20  30  40
1  RS  DR  TR  MC

In [8]:
lst = [[10,"RS"],[20,"DR"],[30,"TR"],[40,"MC"]]
print(lst)
df = pd.DataFrame(lst, columns=["ID","Name"], index=["rec1",'rec2','rec3','rec4'])
df

[[10, 'RS'], [20, 'DR'], [30, 'TR'], [40, 'MC']]

      ID Name
rec1  10   RS
rec2  20   DR
rec3  30   TR
rec4  40   MC

In [9]:
lst = [(10,"RS"),(20,"DR"),(30,"TR"),(40,"MC")]
print(lst)
df = pd.DataFrame(lst, columns=["ID","Name"], index=["rec1",'rec2','rec3','rec4'])
df

[(10, 'RS'), (20, 'DR'), (30, 'TR'), (40, 'MC')]

      ID Name
rec1  10   RS
rec2  20   DR
rec3  30   TR
rec4  40   MC

In [11]:
d1 = {'ID':[100,200,300,400],"Names":["RS","DR","TR","MC"],"Age":[67,78,56,87]}
print(d1)
df = pd.DataFrame(d1,index=["rec1",'rec2','rec3','rec4'])
df

{'ID': [100, 200, 300, 400], 'Names': ['RS', 'DR', 'TR', 'MC'], 'Age': [67, 78, 56, 87]}

       ID Names  Age
rec1  100    RS   67
rec2  200    DR   78
rec3  300    TR   56
rec4  400    MC   87